* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
  }
  
  html {
    width: 100%;
    height: 100%;
  }
  
  body {
    color: #4d4e53;
    background-color: #fcfcfc;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  nav {
    position: fixed;
    left: 0;
    background-color: #fcfcfc;
    height: 100%;
    min-width: 248px;
    border-right: 1px solid;
    padding-bottom: 34px;
  }
  
  nav header {
    color: black;
    font-size: 1.5em;
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  
  nav ul {
    height: 85%;
    overflow-y: auto;
  }
  
  nav ul li {
    display: flex;
    align-items: center;
    height: 48px;
    width: auto;
    border-top: 1px solid black;
    cursor: pointer;
  }
  
  nav a {
    color: #4d4e53;
    font-size: 16px;
    text-decoration: none;
    margin-right: 24px;
    margin-left: 24px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    padding: 24px;
    margin-left: 258px;
  }
  
  article {
    margin: 24px;
  }
  
  section header {
    margin-left: 24px;
    color: black;
    font-size: 1.7em;
  }
  
  code {
    display: block;
    border-radius: 3px;
    padding: 8px;
    background-color: #f1f1f1;
    white-space: pre-line;
  }
  
  p {
    margin-block-start: 16px;
    margin-block-end: 16px;
  }
  
  main li {
    margin-left: 48px;
  }
  
  #Data_types ul li {
    margin-left: 64px;
  }
  
  nav #nav-reference {
    border-bottom: 1px solid black;
  }
  
  @media (max-width: 700px) {
    main {
      width: 100%;
      margin: 0px;
    }
    body {
      justify-content: flex-start;
      align-items: flex-start;
    }
    nav {
      display: none;
    }
  }
  
  @media (max-width: 455px) {
    main {
      font-size: 14px;
      overflow-x: hidden;
    }

    #If_else_statement code{
        font-size: 10px;
        width: 100%;
    }
  }